body{
    color: #5a6268 !important;
}
.host-info {
    padding: 10px 15px;
    margin-bottom: 5px;
    background: #f6f8fa !important;
    border-radius: 8px;
}
.host-info dt {
    color: #5a6268 !important;
    font-size: 75%;
    font-weight: normal;
}
.host-info dd {
    color: #30475e;
    margin-bottom: 0;
}
.gauge {
    height: 320px;
    width: 100%;
}

.show-info {
    background: #f6f8fa;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}

.show-info dt{
    font-weight: normal;
    font-size: 75%;
}

.show-info dd{
    margin-bottom: 0 ;
}
.pie{
    height: 320px;
    width: 100%;
}
.line {
    height: 320px;
    width: 100%;
    padding-top: 10px;
    background-color: #f6f8fa;
}