.host-info {
    background: #f6f8fa !important;
}
.host-info dt {
    color: #5a6268 !important;
    font-size: 75%;
    font-weight: normal;
}
.host-info dd {
    color: #f05454;
}
.gauge-card {
    border: none;
    border-radius: 0.5em !important;
}
.gauge-card-body {
    padding: 0;
}
.gauge-card-body ul li {
    margin: 8px 20px !important;
    border-radius: 0.5em !important;
}
.gauge-card-title {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
}
.host-info-title {
    color: #888;
}
.host-info-content {
    display: block;
    font-size: 14px;
    font-weight: inherit;
    color: #333;
    padding: 0 10px;
}
#cpu {
    display: block;
    margin: auto;
}
.block-style {
    padding: 10px;
    margin: 0 5px;
    border-radius: 0.5em !important;
}
.net-traffic {
    background-color: #f6f8fa;
}
.net-traffic ul{
    margin-bottom: 0;
}
.net-traffic-total {

}
.disk-device {
    background-color: #f6f8fa;
}