.gauge-card {
    border: none;
    border-radius: 0.5em !important;
}
.gauge-card-body {
    padding: 0;
}
.gauge-card-body ul li {
    margin: 8px 20px !important;
    border-radius: 0.5em !important;
}
.gauge-card-title {
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
}
.host-info-title {
    font-size: 60%;
    font-size: 6px;
}
.host-info-content {
    display: block;
    font-size: 14px;
    font-weight: inherit;
}
#cpu {
    display: block;
    margin: auto;
}
.block-style {
    padding: 10px;
    margin: 0 5px;
    border-radius: 0.5em !important;
}