{{define "script"}}
    <script src="static/js/jquery.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/echarts.min.js"></script>
    <script src="static/js/app.js"></script>
{{end}}